
h1{
     font-family: Helvetica;
     position: absolute;
     margin-top: 40px;
     left: 37%;
     
}


div#table{
    
     font-family: Helvetica;
     position: absolute;
     margin-top: 110px;
     margin-left: 1%;
     width: 98%;
    
}

td#get{
    
    font-family: impact;
    color: green;
    font-size: 24px;
}

td#post{
    
    font-family: impact;
    color: #ffcc33;
    font-size: 24px;
}

td#put{
    
    font-family: impact;
    color: blue;
    font-size: 24px;
}

td#delete{
    
    font-family: impact;
    color: #ff3333;
    font-size: 24px;
}

td#url{
    
    font-family: Helvetica;
    font-size: 13px;
  
}

